<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie.title}}</title>
</head>
<body>
    <img src="{{movie.poster.url}}" width="300" height="600" alt="">
            <div>
                <h3>{{movie.title}}</h3>
                <h4>{{movie.overview}}</h4>
                <h4>{{movie.year|date:"yy M d"}}</h4>
            </div>

    <video controls src="{{request.schema}}://{{request.get_host}}{{movie.video.url}}"></video>
    <a href="{% url 'delete' movies.id %}">Delete Movie</a>
</body>
</html>S